.header {
  width: 100vw;
  background: #f7f7f7;
}

.header .inner {
  max-width: 1440px;
  margin: 0 auto;
  padding: 24px 64px;
  box-sizing: border-box;

  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
  gap: 32px;
  margin-left: 450px;
}

.navlink {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #101828;
  text-decoration: none;
  transition: color 0.2s ease;
}

.navlink:hover,
.navlink:focus {
  color: #d84343;
}

.navlink.active {
  color: #d84343;
}
