.header {
  display: flex;
  flex-direction: row;
  /* align-items: center;
  justify-content: start; */
  gap: 450px;
  padding: 24px 64px;

  background: #f7f7f7;
  width: 100vw;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 32px;
}

.navlink {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #101828;

  text-decoration: none;
  transition: color 0.2s ease;
}

.navlink:hover,
.navlink:focus {
  color: #d84343;
  cursor: pointer;
}

.navlink.active {
  color: #d84343;
  position: relative;
}
