.wrap {
  padding-top: 12px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 44px;
}

.header {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
}

.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;

  border-radius: 60px;
  width: 60px;
  height: 60px;
  background: #f2f4f7;
}

.letter {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  color: #e44848;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #101828;
}

.stars {
  display: flex;
  gap: 4px;
  align-items: center;
}

.comment {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #475467;
  max-width: 631px;
}

.noReviews {
  color: #8a8a8a;
  font-size: 16px;
  text-align: center;
  padding: 40px 0;
}
