.wrap {
  border: 1px solid #dadde1;
  border-radius: 10px;
  padding: 44px;
  width: 641px;
  height: 588px;
  margin-top: 84px;
}

.title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: #101828;
  margin-bottom: 8px;
}

.subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #6c717b;
  margin-bottom: 24px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.input {
  border: none;
  outline: none;

  border-radius: 12px;
  padding: 18px 337px 18px 18px;
  width: 527px;
  height: 60px;
  background: #f7f7f7;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #6c717b;
}

.textarea {
  resize: none;

  border: none;
  outline: none;

  border-radius: 10px;
  padding: 18px;
  width: 527px;
  height: 118px;
  background: #f7f7f7;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #6c717b;

  margin-bottom: 10px;
}

.error {
  margin-top: -8px;
  color: #e74c3c;
  font-size: 13px;
}

.submitBtn {
  margin: 0 auto;
  border: none;
  cursor: pointer;

  border-radius: 200px;
  padding: 16px;
  width: 166px;
  height: 56px;
  background: #e44848;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: #fff;
}

.submitBtn:hover,
.submitBtn:focus {
  background: #d84343;
}

.submit:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.calendar {
  font-family: inherit;
}
