.rating {
  display: flex;
  align-items: center;
  gap: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #101828;
}

.star {
  flex-shrink: 0;
}

.text {
  line-height: 1;
}

.reviews {
  margin-left: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #101828;
}
