.wrap {
  width: 360px;
  display: flex;
  flex-direction: column;
}

.locationField {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 40px;
}

.label {
  color: #666;
  font-size: 14px;
}

.inputWrapper {
  position: relative;
}

.locationIcon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  z-index: 2;
  transition: color 0.3s ease, transform 0.3s ease;
}

.locationInput {
  background: #f7f7f7;
  border-radius: 12px;

  width: 100%;
  padding: 16px 16px 16px 48px;
  border: 1px solid var(--border, #dadde1);
  font-size: 16px;

  transition: all 0.2s ease;
  border: none;

  outline: none;

  transition: background-color 0.2s ease, box-shadow 0.2s ease;
}

.locationInput::placeholder {
  color: #969696;
  opacity: 1;
}

.inputWrapper:focus-within .locationIcon {
  color: var(--accent);
  transform: translateY(-50%) scale(1.1);
}

.inputWrapper:focus-within .locationInput {
  background: #f7f7f7;
  border: none;
  outline: none;
  box-shadow: 0 0 0 3px #f7f7f7;
}

.filters {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #475467;
  margin-bottom: 32px;
}

.blockTitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: #101828;
  margin-bottom: 24px;
}

.hr {
  border: none;
  border-top: 1px solid #dadde1;
  margin-bottom: 24px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
  margin-bottom: 32px;
}

.card {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 16px 6px;
  text-align: center;
  cursor: pointer;
  transition: 0.2s;
}

.card span {
  display: block;
  margin-top: 8px;
}

.active {
  border-color: #e44848;
}

.buttons {
  display: flex;
  gap: 16px;
  flex-direction: row;
  padding: 8px;
}

.searchBtn {
  border: none;
  border-radius: 200px;
  width: 166px;
  height: 56px;
  background: #e44848;
  padding: 16px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: #fff;

  cursor: pointer;
}

.searchBtn:hover,
.searchBtn:focus {
  background: #d84343;
}

.clearBtn {
  border-radius: 200px;
  border: 1px solid #dadde1;
  width: 166px;
  height: 56px;
  padding: 16px;

  background: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: #666;

  cursor: pointer;
}

.clearBtn:hover,
.clearBtn:focus {
  border: 1px solid #d84343;
}
