.lablelocation {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #6c717b;
  margin-bottom: 8px;
}

.inputlocation {
  border-radius: 12px;
  padding: 18px 218px 18px 20px;
  width: 360px;
  height: 56px;
  background: #f7f7f7;
  border: none;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #101828;
}
