.hero {
  position: relative;
  width: 100vw;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;

  height: 696px;
  overflow: hidden;
}

.hero img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.wrappercontext {
  position: relative;
  z-index: 2;

  max-width: 1440px;
  margin: 0 auto;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 0 64px;
  box-sizing: border-box;
}

.herotitle {
  font-weight: 600;
  font-size: 48px;
  line-height: 1.1;
  color: #f7f7f7;
  margin-bottom: 16px;
}

.herotext {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  color: #f7f7f7;
  margin-bottom: 40px;
}

.herobtn {
  border-radius: 200px;
  padding: 16px 24px;
  background: #e44848;
  border: none;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
}

.herobtn:hover,
.herobtn:focus {
  background: #d84343;
  cursor: pointer;
}
