.button {
  background: #fff;
  cursor: pointer;

  border: none;
  outline: none;

  transition: all 0.25s ease;
  backdrop-filter: blur(4px);
}

.icon {
  width: 24px;
  height: 21px;

  transition: color 0.3s ease;
}

.button.active .icon {
  color: white !important;
}
