.section {
  width: 100%;
  margin-bottom: 28px;
}

.wrap {
  display: flex;
  flex-direction: row;
  gap: 48px;

  width: 292px;
  height: 312px;
}

.img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
