.wrapper {
  display: flex;
  flex-direction: row;

  gap: 64px;

  padding-top: 48px;
}

.btnloadmore {
  border: 1px solid #dadde1;
  background: #fff;
  border-radius: 200px;
  padding: 16px 32px;
  width: 145px;
  height: 56px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: #101828;
  margin-left: 796px;
  margin-bottom: 52px;
  margin-top: 8px;
}

.btnloadmore:hover,
.btnloadmore:focus {
  border: 1px solid #d84343;
}
