.card {
  background: white;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease;
  display: flex;
  flex-direction: row;
  gap: 24px;

  border: 1px solid #dadde1;
  border-radius: 20px;
  padding: 24px;
  width: 888px;
  height: 368px;

  margin-bottom: 32px;
}

.imageWrapper {
  overflow: hidden;
  border-radius: 10px;
  width: 292px;
  height: 320px;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.title {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.33333;
  color: #101828;
  margin: 0;
}

.price {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  color: #101828;
  margin: 0 12px 0 auto;
}

.info {
  display: flex;
  align-items: center;
  gap: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #101828;
  margin-bottom: 24px;
}

.location {
  display: flex;
  align-items: center;
  gap: 6px;
}

.description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #475467;
  margin: 0;
  display: -webkit-box;

  overflow: hidden;
  margin-bottom: 24px;
}

.features {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: auto;
}

.feature {
  display: flex;
  align-items: center;
  gap: 8px;
  background: #f7f7f7;
  padding: 12px 18px;
  border-radius: 100px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #101828;
  white-space: nowrap;
  width: auto;
  height: 48px;

  mix-blend-mode: multiply;
}

.showMoreBtn {
  border-radius: 200px;
  padding: 16px;
  width: 166px;
  height: 56px;
  background: #e44848;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: #fff;

  border: none;
  cursor: pointer;
  transition: background 0.2s ease;
}

.showMoreBtn:hover {
  background: #d43d3d;
}

.link {
  text-decoration: none;
}
