.card {
  width: 888px;
  height: 368px;

  display: flex;
  gap: 24px;
  padding: 24px;
  border-radius: 20px;
  border: 1px solid #dadde1;
  background: #fff;
  margin-bottom: 32px;
}

.image {
  width: 292px;
  height: 320px;
  border-radius: 10px;
  background: #e6e6e6;
  animation: shimmer 1.5s infinite linear;
}

.content {
  flex: 1;
}

.header {
  display: flex;
  align-items: center;
  gap: 12px;
}

.title {
  width: 160px;
  height: 20px;
  background: #e6e6e6;
  border-radius: 6px;
  animation: shimmer 1.5s infinite linear;
}

.price {
  width: 80px;
  height: 20px;
  background: #e6e6e6;
  border-radius: 6px;
  animation: shimmer 1.5s infinite linear;
}

.favorite {
  margin-left: auto;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #e6e6e6;
  animation: shimmer 1.5s infinite linear;
}

.info {
  margin-top: 12px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.stars,
.location {
  height: 16px;
  width: 100px;
  background: #e6e6e6;
  border-radius: 4px;
  animation: shimmer 1.5s infinite linear;
}

.description {
  margin-top: 16px;
  height: 40px;
  width: 100%;
  background: #e6e6e6;
  border-radius: 6px;
  animation: shimmer 1.5s infinite linear;
}

.features {
  margin-top: 16px;
  display: flex;
  gap: 16px;
}

.feature {
  width: 80px;
  height: 20px;
  background: #e6e6e6;
  border-radius: 6px;
  animation: shimmer 1.5s infinite linear;
}

.button {
  margin-top: 20px;
  width: 120px;
  height: 40px;
  border-radius: 200px;
  background: #e6e6e6;
  animation: shimmer 1.5s infinite linear;
}

@keyframes shimmer {
  0% {
    background-color: #e6e6e6;
  }
  50% {
    background-color: #f0f0f0;
  }
  100% {
    background-color: #e6e6e6;
  }
}
