.wrap {
  display: flex;
  flex-direction: row;
  gap: 40px;
  margin-bottom: 80px;
}

.featuresWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  border-radius: 10px;
  padding: 44px 52px;
  width: 631px;
  height: 588px;
  background: #f7f7f7;
}
