.section {
  padding: 48px 0 60px 0;
}

.title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  color: #101828;
  margin-bottom: 8px;
}

.info {
  display: flex;
  align-items: center;
  gap: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #101828;
  margin-bottom: 16px;
}

.location {
  display: flex;
  align-items: center;
  gap: 6px;
}

.price {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  color: #101828;
  margin-bottom: 28px;
}

.description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #475467;
}

.wrap {
  display: flex;
  flex-direction: row;
  gap: 48px;

  margin-bottom: 80px;
}

.featuresWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  border-radius: 10px;
  padding: 44px 52px;
  width: 631px;
  height: 588px;
  background: #f7f7f7;
}
